<% include partials/head %>
<script src="/javascripts/cloud.js"></script>
<script src="/javascripts/t2-tagcloud.js"></script>
<script src="/javascripts/t2-polaridad.js"></script>
<div class="row">
    <div class="col-lg">
      <h1 class="mt-5">Tagcloud</h1>
    </div>
</div>
<div class="row">
  <div class="col-lg">
    <p>
      Visualizar los resultados del ana패lisis de coyuntura. En UNA pa패gina de visualizacio패n muestre un tagCloud con los hashtags ma패s frecuentes, visualizar la polaridad de los tuits relacionados y su contenido.
    </p>
    <div>
      <h2 class="mt-5">Polaridad</h2>
      <svg class="polaridad"></svg>
    </div>
    <h2 class="mt-5">Twitts aleatorios</h2>
    <div id="twitts">
      <% twitts.forEach(function(twitt){ %>
      <div class="col-sm-12 strip" style="border-left: 3px solid #<% switch (twitt.CATEGORY_NUMBER) {
        case 0 : %>b5b5b5<% break;
        case 1 : %>e3ffe0<% break;
        case 2 : %>87e87d<% break;
        case 3 : %>32ad26<% break;
        case 4 : %>f9a7be<% break;
        case 5 : %>ef2b2b<% break;
        case 6 : %>000000<% break;
        } %>;">
        <img src="https://loremflickr.com/50/50/people?random=<%= Math.random() %>" alt="profile image" width="50px" height="50px" />
        <strong><%= twitt.AUTHOR %></strong> <span class="light"> @<%= twitt.AUTHOR.toLowerCase() %> - <span class="time"><%= twitt.PUBLISH_DATE %></span></span><br>
        <%= twitt.CONTENT %>
      </div>
      <% }); %>
    </div>
    <h2 class="mt-5">Informativo</h2>
    <div id="chart1"></div>
    <h2 class="mt-5">Solidario</h2>
    <div id="chart2"></div>
    <h2 class="mt-5">Protectivo</h2>
    <div id="chart3"></div>
    <h2 class="mt-5">Culpa o acusa al gobierno</h2>
    <div id="chart4"></div>
    <h2 class="mt-5">Cr&iacute;tico o Agresivo</h2>
    <div id="chart5"></div>
    <h2 class="mt-5">Argumentativo favor &oacute; en contra</h2>
    <div id="chart6"></div>
    <h2 class="mt-5">Ninguna relaci&oacute;n</h2>
    <div id="chart0"></div>
  </div>
</div>

<% include partials/footer %>